.biblefirm,h1{
    width:800px;
    height:300px;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto 20%;
    border-radius: 12px;
    text-align: justify;
    font-size:25px;
    box-shadow:  inset 0px 4px 12px  red;
color: rgb(11, 0, 0);

background-repeat: no-repeat;
background-size: cover;
animation: verse 5s infinite ease-in-out;

}
h1{
    width:50%;
    height: 20px;
    text-align: center;
    background-color:hsl(186, 59%, 56%);
    box-shadow:   6px 5px 2px  rgb(240, 248, 7);
    margin-bottom:45px;
    
 
}

.bibleversenumberdiplayer:hover,.bibleversetextdiplayer:hover{
color: rgb(253, 250, 250);
}

@keyframes verse{
    from{
        transform:translateY(0px);
        background-image: url("cascade-boat-clean-china-natural-rural.jpg");
         background-image: cover;
    }
     to{
        transform:translateY(10px);
        background-image: url("mountain-range-body-water.jpg");
        background-image: cover;
    }
}
